@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body{
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: linear-gradient(to left top, #0045d6, #00a9f6);
	font-family:sans-serif;

}

header{
	width: 100%;
	height: 13vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
    margin-bottom: 2rem;
	border-radius: 0px 0px 30px 30px;

}



.title{
	color: #0045d6;
	font-size: 54px;
	letter-spacing: 2px;

}

.title img{
    width: 50px;
    padding-right: 15px;
}

.content{
	height: 69vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 15rem;
	text-transform: uppercase;
	z-index: 1000;


}



.btn{
	padding: 0.8rem 1.7rem;
	background-color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 0 10px 14px;
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	font-weight: 700;
    
}

.btn:hover{
	color: #fff;
	background: #0045d6;
}

.start{
	color: #00a9f6;
}
.stop{
	color: #E00;
}

#continue, .stop, #start{
	display: none;
}


#seconds{
	width: 167px;
	background: none;
	outline: none;
	border: none;
	border-bottom: 4px solid #fff;
	padding: 1rem;
	font-size: 2rem;
	color: white;
	background: #0044d667;
	border-radius: 12px;
}

#seconds::placeholder{
	color: #ddd;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0044d663;
    color: white;
    text-align: center;
	margin-top: 1rem;
  }

.footer p{

    font-size: 1rem;
    color: rgba(221, 221, 221, 0.712);
    justify-content: center;
    text-align: center;
    padding: 1rem;
	font-size: 12px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
}


.fundo img{
	
	position: absolute;
	bottom: 0;
	height: 90%;
	right: 0;
	z-index: -6;
	filter: blur(2px);
	
}

